// .auth_header {
//     background-color: #FFFFFF;
//     height: 80px;
//     cursor: pointer;
// }
// .wrapper{
//     background-color: #FDFDFD;
//     height: calc(100vh - 80px);
// }
// .container {
//     max-width: 392px;
// }

// .center {
//     display: block;
//     margin-left: auto;
//     margin-right: auto;
//     padding-top: 20px;
// }

// .signup_header {
//     text-align: center;  
//     margin-bottom: 20px;
// }

// .signup_header span {
//     width: 70px;
//     height: 30px;
//     font-weight: 700;
//     font-size: 25px;
//     line-height: 30px;
//     color: #252849;
// }
// .signup_info span {
//     height: 26px;
//     font-weight: 400;
//     font-size: 18px;
//     line-height: 26px;
//     color: #252849;
// }
// .signup_info {
//     margin-top: 20px;  
// }
// .name_wrapper, .button_wrapper{
//     display: flex;
// }
// .name{
//     margin-right: 20px;
// }
// .form-group ::placeholder {
//     font-weight: 400;
//     font-size: 16px;
//     line-height: 22px;
//     color: #858799;
// }
// .form-group {
//     padding-top: 12px;
// }
.file_ipload span {
    height: 18px;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #252849;
    margin-bottom: 8px;
}
// .form-control {
//     border: 1px solid #E7E7EB;
//     border-radius: 4px
// }
// .form-control.is-invalid{
//     border-color: #dc3545;
// }
// .button_wrapper{
//     margin-top: 24px;
// }
.file_ipload {
    margin-top: 15px;
    margin-left: 32px;
    margin-right: 32px;
}
.pdf_file {
    height: 176px;
    border: 1px dashed #E7E7EB;
    border-radius: 4px;
    text-align: center;
}
// .btn-previous, .btn-signup {
//     height: 48px;
//     border-radius: 4px;
//     width: 50%;
// }
// .btn-previous {
//     background: #FFFFFF;
//     border: 1px solid #0A0E33;    
//     margin-right: 20px;

// }
// .btn-previous span {
//     height: 20px;
//     left: 587px;
//     top: 986px;
//     font-weight: 700;
//     font-size: 14px;
//     line-height: 20px;
//     text-align: center;
//     color: #252849;
// }
// .btn-signup {
//     background: #0A0E33;
// }

// .btn-signup span{
//     color: #F0F0F4;
// }
// .form-control-wrapper {
//     position: relative;
// }

// .error-icon-hover-area {
//     position: absolute;
//     background-color: transparent;
//     width: 40px;
//     height: 100%;
//     top: 0;
//     right: 0;
//     cursor: pointer;
// }