<!--<div>-->
<!--    <div class="auth_header">-->
<!--        <img [routerLink]="'/'" src="./assets/images/logo/header_logo.svg" alt="WeCruitment" class="center" />-->
<!--    </div>-->

<!--    <div class="wrapper">-->
<!--        <div class="auth_container login">-->
<!--            <div class="auth_title">-->
<!--                <span> Reset password</span>-->
<!--            </div>-->
<!--            <div>-->
<!--            <form [formGroup]="codeForm" (ngSubmit)="onSubmit()" >-->
<!--                <div class="form-group code">-->
<!--                    <label>Verification code</label>-->
<!--                    <div class="form-control-wrapper">-->
<!--                        <input type="text" class="form-control" required placeholder="Enter the verification code" formControlName="code" -->
<!--                        [ngClass]="{ 'is-invalid': codeForm.controls['code'].invalid && (codeForm.controls['code'].dirty || codeForm.controls['code'].touched) }">                     -->
<!--                        <span *ngIf="codeForm.controls['code'].invalid && (codeForm.controls['code'].dirty || codeForm.controls['code'].touched)"-->
<!--                        class="error-icon-hover-area" data-toggle="tooltip" data-placement="right" title="code is required"></span>-->
<!--                       </div>                 -->
<!--                </div>  -->
<!--                <div class="resend">-->
<!--                    <span>If you didn't get a code <a (click)="resendCode()">Resend </a> </span>-->
<!--                </div>-->
<!--                <div class="auth_actions">-->
<!--                    <div>-->
<!--                        <button type="button" class="btn btn-prev" [routerLink]="'/auth/signup'"><span> Cancel</span></button>-->
<!--                    </div>-->
<!--                    <div>-->
<!--                        <button type="submit" class="btn btn-login"><span> Submit</span></button>-->
<!--                    </div>-->
<!--                </div>-->
<!--                -->
<!--            </form>-->
<!--        </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!--<app-alert></app-alert>-->
