<!--<div>-->
<!--    <div class="auth_header">-->
<!--        <img [routerLink]="'/'" src="./assets/images/logo/header_logo.svg" alt="WeCruitment" class="center" />-->
<!--    </div>-->
<!--    <div class="wrapper">-->

<!--        <div class="auth_container login">-->
<!--            <div class="auth_title">-->
<!--                <span> Reset password</span>-->
<!--            </div>-->

<!--            <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()" >-->
<!--                <div class="form-group email">-->
<!--                    <label>Password</label>-->
<!--                    <div class="form-control-wrapper">-->
<!--                        <input type="password" class="form-control" required placeholder="Enter new password" formControlName="password" -->
<!--                        [ngClass]="{ 'is-invalid': changePasswordForm.controls['password'].invalid && (changePasswordForm.controls['password'].dirty || changePasswordForm.controls['password'].touched) }">                     -->
<!--                        <span *ngIf="changePasswordForm.controls['password'].invalid && (changePasswordForm.controls['password'].dirty || changePasswordForm.controls['password'].touched)"-->
<!--                        class="error-icon-hover-area" data-toggle="tooltip" data-placement="right" title="Password is required"></span>                      -->
<!--                       </div>                 -->
<!--                </div>  -->
<!--                <div class="form-group email">-->
<!--                    <label>Repeat Password</label>-->
<!--                    <div class="form-control-wrapper">-->
<!--                        <input type="password" class="form-control" required placeholder="Repeat password" formControlName="confirmpassword" -->
<!--                        [ngClass]="{ 'is-invalid':changePasswordForm.controls['password'].value !== changePasswordForm.controls['confirmpassword'].value || changePasswordForm.controls['confirmpassword'].invalid && (changePasswordForm.controls['confirmpassword'].dirty || changePasswordForm.controls['confirmpassword'].touched) }">                     -->
<!--                        <span *ngIf="changePasswordForm.controls['confirmpassword'].invalid && (changePasswordForm.controls['confirmpassword'].dirty || changePasswordForm.controls['confirmpassword'].touched)"-->
<!--                        class="error-icon-hover-area" data-toggle="tooltip" data-placement="right" title="Confrim Password"></span>  -->
<!--                        <span *ngIf="changePasswordForm.controls['password'].value !== changePasswordForm.controls['confirmpassword'].value"-->
<!--                        class="error-icon-hover-area" data-toggle="tooltip" data-placement="right" title="Passwords does not match"></span>                    -->
<!--                       </div>                 -->
<!--                </div>  -->

<!--                <div class="auth_actions">-->
<!--                    <div>-->
<!--                        <button type="button" class="btn btn-prev" [routerLink]="'/auth/signup'"><span> Cancel</span></button>-->
<!--                    </div>-->
<!--                    <div>-->
<!--                        <button type="submit" class="btn btn-login"><span> Submit</span></button>-->
<!--                    </div>-->
<!--                </div>              -->
<!--            </form>-->

<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!--<app-alert></app-alert>-->
