input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  opacity: 1;
}

input:focus,
textarea:focus {
  outline: none;
}

@media (max-width: 764px) {
  .main {
    width: 100%;
  }

  .short-div {
    margin-right: 32px;
    width: 100%;
    justify-content: space-between;


    .short {
      width: 100%;
    }
  }
}


@media (max-width: 380px) {
  .main {
    padding: 1rem;
  }
}
