<div
  class="
  main
  rounded
  flex
  flex-col
  border
  border-600
  w-[684px]
  h-auto
  m-auto
  p-8">
  <h3 class="font-[700] text-[20px]">Change password</h3>
  <div class="flex flex-col mt-8">
    <label for="current">Current password</label>
    <div class="flex align-start mt-1">
      <input
        class="
          invalid:border-pink-500
          border
          border-600
          rounded-md
          w-full
          h-12
          bg-[#F8F8FA]
          pl-[16px]"
        id="current"/>
    </div>
  </div>
  <div class="flex flex-col mt-8">
    <label for="new">New Password</label>
    <div class="flex align-start mt-1">
      <input
        class="
          invalid:border-pink-500
          border
          border-600
          rounded-md
          w-full
          h-12
          bg-[#F8F8FA]
          pl-[16px]"
        id="new"/>
    </div>
  </div>
  <div class="flex flex-col mt-8">
    <label for="repeat">Repeat password</label>
    <div class="flex align-start mt-1">
      <input
        class="
          invalid:border-pink-500
          border
          border-600
          rounded-md
          w-full
          h-12
          bg-[#F8F8FA]
          pl-[16px]"
        id="repeat"/>
    </div>
  </div>
  <div class="flex flex-col mt-8">
    <div class="flex align-start mt-1">
      <button
        class="
        border
          border-600
          rounded-md
          text-white
          bg-[#0E68F1]
          w-full
          h-12"
      >Change password
      </button>
    </div>
  </div>
</div>
