<div class="wrapper_main">
    <div class="search_div">
        <div class="container">
            <div class="annoucment">
                <span class="black">Looking to hire?</span><br>
                <span class="Accent">Look no further!</span> 
                <div>
                    <img src="./assets/images/icon/vector.svg" />
                </div>
            </div>
           
            <div class="flex-container">
                <div class="city px-2 md:my-0">
                    <div class="form-group">
                        <input type="text" class="form-control city" value="Search city">
                    </div>
                </div>
                <div class="occupation px-2 md:my-0">
                    <select class="form-select" aria-label="Default select example">
                        <option selected>Occupation</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
                <div class="rate px-2 md:my-0">
                    <select class="form-select" aria-label="Default select example">
                        <option selected>Yearly rate</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
                <div class="search">
                    <button type="button" class="btn btn-search">Search</button>
                </div>
            </div>

            
            <div class="finance">
                <img src="./assets/images/icon/sammy-finance.svg" />
            </div>
        </div>
    </div>

   
    <div class="info">
        <div class="container">            
            <div class="vacancies">
                <div class="vacancies_header">Highlighted Vacancies</div>
                <div class="vacancies-container">
                    <div class="vacancie_card my-2 px-2 md:my-0">
                        <div class="vacancie_title">
                            <span> Senior Ui/Ux Designer</span>
                        </div>
                        <div>  <hr class="title_hr"></div>
                        <div class="vacancie_city">
                            <img src="./assets/images/icon/location.svg" />
                            <span> Groningen </span>
                        </div>
                        <div class="vacancie_rate">
                            <img src="./assets/images/icon/card.svg" />
                            <span> 100-200 € PH </span>
                        </div>
                        <div class="vacancie_occupation">
                            <img src="./assets/images/icon/setting.svg" />
                            <span> Marketing</span>
                        </div>
                        <div class="vacancie_more">
                            <span>See more</span>
                            <img src="./assets/images/icon/arrow-right.svg" />
                        </div>
                    </div>

                    <div class="vacancie_card my-2 px-2 md:my-0">
                        <div class="vacancie_title">
                            <span> Senior Ui/Ux Designer</span>
                        </div>
                        <div>  <hr class="title_hr"></div>
                        <div class="vacancie_city">
                            <img src="./assets/images/icon/location.svg" />
                            <span> Groningen </span>
                        </div>
                        <div class="vacancie_rate">
                            <img src="./assets/images/icon/card.svg" />
                            <span> 100-200 € PH </span>
                        </div>
                        <div class="vacancie_occupation">
                            <img src="./assets/images/icon/setting.svg" />
                            <span> Marketing</span>
                        </div>
                        <div class="vacancie_more">
                            <span>See more</span>
                            <img src="./assets/images/icon/arrow-right.svg" />
                        </div>
                    </div>
                    <div class="vacancie_card my-2 px-2 md:my-0">
                        <div class="vacancie_title">
                            <span> Senior Ui/Ux Designer</span>
                        </div>
                        <div>  <hr class="title_hr"></div>
                        <div class="vacancie_city">
                            <img src="./assets/images/icon/location.svg" />
                            <span> Groningen </span>
                        </div>
                        <div class="vacancie_rate">
                            <img src="./assets/images/icon/card.svg" />
                            <span> 100-200 € PH </span>
                        </div>
                        <div class="vacancie_occupation">
                            <img src="./assets/images/icon/setting.svg" />
                            <span> Marketing</span>
                        </div>
                        <div class="vacancie_more">
                            <span>See more</span>
                            <img src="./assets/images/icon/arrow-right.svg" />
                        </div>
                    </div>
    
                  
                </div>
            </div>
    
         
            <div class="blogs">
                <div class="blog_header">Blog</div>
                <div class="blogs-container">
                    <div class="blog_card">
                        <div class="blog_img">
                            <img src="./assets/images/blog/blog_1.png" />
                        </div>
                        <div class="blog_title">
                            <span> Using social media as a research recruitment tool </span>
                        </div>
                        <div class="blog_category">
                            <span> Study</span>
                        </div>
                        <div class="blog_excerpt">
                            <span> Using social media as a research recruitment tool: Ethical issues and recommendations</span>
                        </div>                        
                    </div>
                    <div class="blog_card">
                        <div class="blog_img">
                            <img src="./assets/images/blog/blog_2.png" />
                        </div>
                        <div class="blog_title">
                            <span> Using social media as a research recruitment tool </span>
                        </div>
                        <div class="blog_category">
                            <span> Study</span>
                        </div>
                        <div class="blog_excerpt">
                            <span> Using social media as a research recruitment tool: Ethical issues and recommendations</span>
                        </div>                        
                    </div>
                    <div class="blog_card">
                        <div class="blog_img">
                            <img src="./assets/images/blog/blog_3.png" />
                        </div>
                        <div class="blog_title">
                            <span> Using social media as a research recruitment tool </span>
                        </div>
                        <div class="blog_category">
                            <span> Study</span>
                        </div>
                        <div class="blog_excerpt">
                            <span> Using social media as a research recruitment tool: Ethical issues and recommendations</span>
                        </div>                        
                    </div>
            </div>
        </div>
    </div>



 
</div> 