<div>
  <div class="auth_header">
    <img [routerLink]="'/'" src="../../../../assets/images/logo/header_logo.svg" alt="WeCruitment" class="center" />
  </div>
  <div class="wrapper">
    <div class="container">
      <div>
        <img src="../../../../assets/images/icon/tick-circle.svg" class="center" />
      </div>
      <div class="title">
        <span>Your request Successfully Sent</span>
      </div>
      <div class="info">
                <span>
                    Admin will review your request for registration and we will get back to you with answer
                </span>
      </div>
      <div class="search">
        <button type="button" class="btn btn-search">
          <span> Go to search page</span>
        </button>
      </div>
    </div>
  </div>
</div>
