<ul
  class="
  mt-20
  ml-auto
  mr-auto
  nav
  nav-tabs
  flex
  flex-row
  p-1
  items-center
  justify-content-between
  bg-[#F2F2F8]
  border-0
  w-[684px]
  rounded
  h-12"
  id="tabs-tabFill"
  role="tablist">
  <li
    class="
    p-0
    nav-item
    font-bold
    text-[14px]
    text-center"
    role="presentation">
    <button
      aria-controls="tabs-info"
      aria-selected="true"
      class="
      text-black
      border-0
      rounded
      h-full
      w-full
      nav-link
      no-underline
      flex
      active
      items-center"
      data-bs-target="#tabs-info"
      data-bs-toggle="pill"
      href="#tabs-info"
      id="tabs-home-info"
      role="tab">
      Personal information
      <span></span>
    </button>
  </li>
  <li
    class="
    p-0
    nav-item
    font-bold
    text-[14px]
    text-center"
    role="presentation">
    <button
      #work
      [disabled]="!!personalForm.enabled"
      [style]="personalForm.disabled ? {'color':'black'} :  {'color':'grey'}"
      aria-controls="tabs-experience"
      aria-selected="false"
      class="
      text-decoration-none
      border-0
      rounded
      h-full
      w-full
      nav-link
      no-underline
      flex
      items-center"
      data-bs-target="#tabs-experience"
      data-bs-toggle="pill"
      href="#tabs-experience"
      id="tabs-experience-tab"
      role="tab">
      Work experience
      <span></span>
    </button>
  </li>
  <li
    class="
    p-0
    nav-item
    font-bold
    text-[14px]
    text-center"
    role="presentation">
    <button
      #situation
      [disabled]="!!experienceForm.enabled"
      [style]="experienceForm.disabled ? {'color':'black'} :  {'color':'grey'}"
      aria-controls="tabs-situation"
      aria-selected="false"
      class="
      border-0
      rounded
      h-full
      w-full
      nav-link
      no-underline
      flex
      items-center"
      data-bs-target="#tabs-situation"
      data-bs-toggle="pill"
      href="#tabs-situation"
      id="tabs-situation-tab"
      role="tab">
      Current situation
      <span></span>
    </button>
  </li>
  <li
    class="
    p-0
    nav-item
    font-bold
    text-[14px]
    text-center"
    role="presentation">
    <button
      #cv
      [disabled]="!!situationForm.enabled"
      [style]="situationForm.disabled ? {'color':'black'} :  {'color':'grey'}"
      aria-controls="tabs-cv"
      aria-selected="false"
      class="
      border-0
      rounded
      h-full
      w-full
      nav-link
      no-underline
      flex
      items-center"
      data-bs-target="#tabs-cv"
      data-bs-toggle="pill"
      href="#tabs-cv"
      id="tabs-cv-tab"
      role="tab">
      CV
      <span></span>
    </button>
  </li>
  <li
    class="
    p-0
    nav-item
    font-bold
    text-[14px]
    text-center"
    role="presentatione">
    <button
      [disabled]="!!situationForm.enabled"
      [style]="situationForm.disabled ? {'color':'black'} :  {'color':'grey'}"
      aria-controls="tabs-cv"
      aria-selected="false"
      class="
       border-0
       rounded
       h-full
       w-full
       nav-link
       no-underline
       flex
       items-center"
      data-bs-target="#tabs-e-cv"
      data-bs-toggle="pill"
      href="#tabs-cv"
      id="tabs-e-cv-tab"
      role="tab">
      E-CV
      <span></span>
    </button>
  </li>
</ul>

<div class="tab-content mt-10" id="tabs-tabContent3">
  <!-- First Tab -->
  <div aria-labelledby="tabs-info-tab" class="tab-pane fade show active" id="tabs-info" role="tabpanel">
    <app-personal-info [form]="personalForm">
      <div
        class="
        mt-6
        w-full
        flex
        justify-content-end
        items-end">
        <button
          [disabled]="!!personalForm.enabled"
          class="
          mr-4
          disabled:bg-green-300
          bg-green-800
          text-white
          pt-2
          pb-2
          pl-4
          pr-4
          font-bold
          rounded">
          Finish(temporary)
        </button>
        <button
          (click)="work.click()"
          [disabled]="!!personalForm.enabled"
          class="
          disabled:bg-[#97BEFF]
          bg-[#005AFF]
          text-white
          pt-2
          pb-2
          pl-4
          pr-4
          font-bold
          rounded">
          Next
        </button>
      </div>
    </app-personal-info>
  </div>
  <!-- Second Tab -->
  <div aria-labelledby="tabs-experience-tab" class="tab-pane fade" id="tabs-experience" role="tabpanel">
    <app-work-experiece [form]="experienceForm">
      <div
        class="
        mt-6
        w-full
        flex
        justify-content-end
        items-end">
        <button
          (click)="situation.click()"
          [disabled]="!!experienceForm.enabled"
          class="
          disabled:bg-[#97BEFF]
          bg-[#005AFF]
          text-white
          pt-2
          pb-2
          pl-4
          pr-4
          font-bold
          rounded">
          Next
        </button>
      </div>
    </app-work-experiece>
  </div>
  <!-- Third Tab -->
  <div aria-labelledby="tabs-situation-tab" class="tab-pane fade" id="tabs-situation" role="tabpanel">
    <app-current-situation [form]="situationForm">
      <div
        class="
        mt-6
        w-full
        flex
        justify-content-end
        items-end">
        <button
          (click)="cv.click()"
          [disabled]="!!situationForm.enabled"
          class="
          disabled:bg-[#97BEFF]
          bg-[#005AFF]
          text-white
          pt-2
          pb-2
          pl-4
          pr-4
          font-bold
          rounded">
          Next
        </button>
      </div>
    </app-current-situation>
  </div>
  <!-- Fourth Tab -->
  <div aria-labelledby="tabs-cv-tab" class="tab-pane fade" id="tabs-cv" role="tabpanel">
    <app-cv [form]="cvForm">
      <div
        class="
        mt-6
        w-full
        flex
        justify-content-end
        items-end">
        <button
          [disabled]="cvForm.invalid"
          [style]="cvForm.invalid ?
           {'background': '#97BEFF'} :
           {'background': '#005AFF'}"
          class="
          text-white
          pt-2
          pb-2
          pl-4
          pr-4
          font-bold
          rounded">
          Finish
        </button>
      </div>
    </app-cv>
  </div>
  <!-- Fifth Tab -->
  <div aria-labelledby="tabs-e-cv-tab" class="tab-pane fade" id="tabs-e-cv" role="tabpanel">
    <app-e-cv [form]="ecvFrom">
      <div
        class="
        mt-6
        w-full
        flex
        justify-content-end
        items-end">
        <button
          [disabled]="ecvFrom.invalid"
          class="
          disabled:bg-[#97BEFF]
          bg-[#005AFF]
          text-white
          pt-2
          pb-2
          pl-4
          pr-4
          font-bold
          rounded">
          Finish
        </button>
      </div>
    </app-e-cv>
  </div>
</div>

