<footer class="primary-footer">
    <div class="container">
        <nav class="primary-navigation">
            <a class="logo">
                <img [routerLink]="'/'" src="./assets/images/logo/footer_logo.svg" alt="WeCruitment" />
            </a>   

            <ul role="list" class="nav-list-contact">
                <li class="px-2 md:my-0 title">
                    <a [routerLink]="">Contact</a>
                </li>
                <hr class="footer_hr">
                <li class="px-2 md:my-0">
                    <a [routerLink]="">
                        <img src="./assets/images/icon/call.svg"/>
                    </a>
                    <a [routerLink]="">(+319) 701 028 123</a>
                </li>
                <li class="px-2 md:my-0">
                    <a [routerLink]="">
                        <img src="./assets/images/icon/email.svg"/>
                     </a>
                    <a [routerLink]="">info@hiresum.nl</a>
                </li>
            </ul>

            <ul role="list" class="nav-list-company">
                <li class="px-2 md:my-0 title">
                    <a [routerLink]="">Company</a>
                </li>
                <hr class="footer_hr">
                <li class="px-2 md:my-0">
                    <a [routerLink]="">Privacy Policy</a>
                </li>
                <li class="px-2 md:my-0">
                    <a [routerLink]="">Terms & Conditions</a>
                </li>
            </ul>

            <ul role="list" class="nav-list-socials">
                <li class="px-2 md:my-0 title">
                    <span >Follow us</span>
                </li>
                <hr class="footer_hr">
                <li class="px-2 md:my-0">
                    <a [routerLink]="">
                        <img src="./assets/images/icon/instagram.svg"/>
                    </a>
                </li>
                <li class="px-2 md:my-0">
                    <a [routerLink]="">
                        <img src="./assets/images/icon/facebook.svg"/>
                    </a>
                </li>
                <li class="px-2 md:my-0">
                    <a [routerLink]="">
                        <img src="./assets/images/icon/linkedin.svg"/>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</footer>
